# Executables
mepbm
*
!/**/
!*.*
*.exe
*.out
*.app
/build/

# Eclipse project files
.cproject
.project
.settings

# Make and Ninja files
Makefile
.ninja*
build.ninja
rules.ninja

# CLion project files
*.cbp

# Cmake files generated during in-source builds
CMakeCache.txt
CMakeFiles
Testing
cmake_install.cmake
CTestTestfile.cmake
.cmake/

# In the tests/ directory, ignore everything but the .cc and .output files
tests/*
!tests/*cc
!tests/*output
!tests/*input

# Images
*.png
*.jpg
*.pdf

# Convenience scripts
*.sh

# UQLab files
*.inp
*.out
*.tpl

# Matlab files
*.asv
*.mat

# Log files
*.log
SUNDIALS_error_log.txt